<a href="https://colab.research.google.com/github/Hab-eeb/08-weather-conditions/blob/master/data/EDA_and_Pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

 Importing the csv file, The link was gotten from the raw format offered by GitHub.

In [10]:
Df = pd.read_csv("https://raw.githubusercontent.com/HamoyeHQ/08-weather-conditions/master/data/Summary%20of%20Weather.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,18,25) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
Df.head()

     STA      Date Precip  WindGustSpd    MaxTemp  ...  SD3  RHX RHN RVG  WTE
0  10001  1942-7-1  1.016          NaN  25.555556  ...  NaN  NaN NaN NaN  NaN
1  10001  1942-7-2      0          NaN  28.888889  ...  NaN  NaN NaN NaN  NaN
2  10001  1942-7-3   2.54          NaN  26.111111  ...  NaN  NaN NaN NaN  NaN
3  10001  1942-7-4   2.54          NaN  26.666667  ...  NaN  NaN NaN NaN  NaN
4  10001  1942-7-5      0          NaN  26.666667  ...  NaN  NaN NaN NaN  NaN

[5 rows x 31 columns]